<div class="businesses-background">
  <div class="container">
    <div style="padding-top: 20px">
     <%= erb :'partials/_messages' %>
    </div>
    <%#= flash_toastr %>
    <div class="row">
      <%= erb :'partials/_business_cards' %>
    </div>
  </div>
</div>