<div class="container">
  <div class="we-connect-logo"></div>
  <form>
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
      <a class="text-light navbar-brand" href="/businesses/search"><img src="/images/logo.png"  height="45" width="42" />
        Search Businesses
      </a>
      <button type="button" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="ml-auto navbar-nav">
          <li class="nav-item-name-properties nav-item">
            <input name="businessName" placeholder="Start typing Business name.." class="business-name-input" type="text" id="business_name_search">
          </li>
          <li class="nav-item-name-properties nav-item">
            <label class="business-search-label">Filter By:</label>
          </li>
          <li class="nav-item-name-properties nav-item">
            <select class="form-control category-input">
              <option selected disabled >Select a category..</option>
              <% @categories.each do |category| %>
                <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
            </select>
          </li>
          <li class="nav-item-name-properties nav-item">
            <select class="form-control location-input">
              <option selected disabled>Select location ..</option>
              <% @locations.each do |location| %>
                <option value="<%= location %>"><%= location %></option>
              <% end %>

            </select>
          </li>
        </ul>
      </div>
    </nav>
  </form>
  <div class="search-results">
    <h4 id="total-results" class="font-italic text-light"></h4>
    <span id="business-links"></span>
  </div>
</div>