.home-container {
    background-color: grey;
}

.lead-paragraph{
    font-size: 1rem;
}

.logout {
    color: #212529 !important;
    text-decoration: none !important;
}

.search {
    display: inline-block;
}

.profile-buttons{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 90%;
}

.file-upload-btn{
    display: inline;
}


.upload-image-button{
    width: 99%;
    margin-bottom: 10px;
}