<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link href="/stylesheets/users.css" rel="stylesheet">
    <link href="/stylesheets/businesses.css" rel="stylesheet">
    <link href="/stylesheets/not_found.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>WeConnect</title>
  </head>
  <body>
  <%= erb :'partials/_navigation_bar' %>
  <%= yield %>


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="/javascripts/business.js"></script>
  </body>
</html>
